:host {
  display: block;
  width: 90%;
  height: 20%;
  margin-bottom: 10px;
}

.distribution-card {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
}

.component-label {
  display: block;
  font-size: 0.75rem;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
}
