:host {
  display: block;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.media {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
