:host {
  display: block;
  width: 45%;
  height: 90%;
  margin-right: 10px;
  align-self: flex-end;
  box-sizing: border-box;
}

.preview-panel {
  width: 100%;
  height: 100%;
  background: white;
  box-sizing: border-box;
}

.component-title {
  font-size: 0.75rem;
  color: black;
  display: block;
  padding: 4px 8px;
}
