:host {
  display: block;
  width: 45%;
  height: 90%;
  margin-left: 10px;
  box-sizing: border-box;
}

.controls-card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
}

.panel-label {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  color: #000000;
}
